footer {
  background-color: #323232;
  margin: 0 auto;
  text-decoration: none;
  width: auto;
  bottom: 0;
  visibility: visible; }

.footer-container {
  display: flex;
  width: auto;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 20px;
  margin-left: 20px; }
  .footer-container .footer-cont h4 {
    color: #fff;
    border-bottom: 3px solid #f2c640;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .footer-container .footer-cont p {
    color: rgba(206, 202, 202, 0.795); }
  .footer-container .footer-cont ul {
    color: rgba(206, 202, 202, 0.795);
    list-style: none; }
    .footer-container .footer-cont ul li {
      padding: 5px; }
      .footer-container .footer-cont ul li a {
        display: inline-block;
        color: rgba(206, 202, 202, 0.795);
        font-size: 16px; }
        .footer-container .footer-cont ul li a:hover {
          color: #f2c640; }

.footer-cont-copy {
  background-color: #1f2b40;
  padding: 15px 0;
  display: flex;
  width: auto;
  justify-content: space-between;
  border: 3px solid rgba(32, 32, 32, 0.623); }
  .footer-cont-copy h2 {
    font-size: 23px;
    margin: 15px 0 15px 25px;
    color: rgba(206, 202, 202, 0.795); }

header {
  margin: 1vh 1vw;
  z-index: 100; }

.marca-navbar {
  font-family: 'Pacifico', cursive;
  font-size: x-large; }

.nav-item {
  margin-left: 1vw; }

.card {
  opacity: .6;
  position: relative; }
  .card:hover {
    opacity: 1; }
  .card .card-title {
    color: black; }
  .card .card-text {
    color: black; }
  .card .precios {
    display: flex; }
    .card .precios .precionow {
      color: red;
      font-size: large;
      margin-left: 2%; }
    .card .precios .preciobefore {
      text-decoration: line-through;
      font-size: medium;
      margin-left: 2%; }

.buying-neon {
  position: absolute;
  display: inline-block;
  padding: 3% 3%;
  font-size: x-large;
  text-decoration: none;
  overflow: hidden;
  transition: .3s;
  color: rgba(255, 0, 0, 0.623);
  visibility: visible;
  bottom: 1%;
  right: 1%; }
  .buying-neon:hover {
    visibility: visible;
    background: #01c401;
    box-shadow: 0 0 10px #01c401, 0 0 40px #01c401, 0 0 80px #01c401;
    border-radius: 50%;
    transition-delay: 1s; }
  .buying-neon:hover #botonbuy1 {
    left: 100%;
    transition: 1s; }
  .buying-neon:hover #botonbuy2 {
    top: 100%;
    transition: 1s;
    transition-delay: .25s; }
  .buying-neon:hover #botonbuy3 {
    right: 100%;
    transition: 1s;
    transition-delay: .5s; }
  .buying-neon:hover #botonbuy4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s; }
  .buying-neon span {
    position: absolute;
    display: block; }
  .buying-neon #botonbuy1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #01c401); }
  .buying-neon #botonbuy2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #01c401); }
  .buying-neon #botonbuy3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #01c401); }
  .buying-neon #botonbuy4 {
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(360deg, transparent, #01c401); }

.loginbody {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #323941;
  flex-direction: column;
  min-height: 100vh; }
  .loginbody .login {
    background-color: #1a1e21;
    padding: 30px;
    border-radius: 20px;
    max-width: 500px; }
    .loginbody .login .login-logo {
      width: 100%;
      margin: 50px 0;
      display: flex;
      justify-content: center; }
      .loginbody .login .login-logo img {
        width: 70%;
        padding: 30px; }
    .loginbody .login .login-iniciar {
      width: 100%;
      background-color: #3860ec;
      display: inline-block;
      padding: 25px;
      cursor: pointer;
      color: #fff;
      text-transform: uppercase;
      border-radius: 30px;
      margin-bottom: 20px;
      transition: .3s ease all; }
      .loginbody .login .login-iniciar:hover {
        background: #2247ceb9; }
    .loginbody .login .login-registarse {
      width: 100%;
      color: #fff;
      display: inline-block;
      text-transform: uppercase;
      border-radius: 5px;
      margin-bottom: 20px;
      text-align: center;
      font-size: small;
      text-decoration: underline; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::selection {
    background-color: rgba(172, 17, 17, 0.836); }
  * ::-webkit-scrollbar {
    width: 9px; }
  * ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #d4c597);
    border-radius: 4px; }
  * ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, rgba(29, 153, 255, 0.651)); }
