*{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #254ddd);
    border-radius: 4px;
}
.loginbody {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #323941;
    flex-direction: column;
    min-height: 100vh;
}
.login {
    background-color: #1a1e21;
    padding: 30px;
    border-radius: 20px;
    max-width: 500px;
}
.login-logo {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.login-logo > img {
    width: 70%;
    padding: 30px; 
}
.login-iniciar {
    width: 100%;
    background-color: #3860ec;
    display: inline-block;
    padding: 25px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: .3s ease all;
}
.login-iniciar:hover {
    background: #2247ceb9;
}
.login-registarse {
    width: 100%;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: small;
    text-decoration: underline;
}
