footer {
  background-color: #323232;
  margin: 0 auto;
  text-decoration: none;
  width: 100%;
  bottom: 0;
  visibility: visible; }

.footer-container {
  display: flex;
  width: auto;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 2%;
  margin: 2%; }
  .footer-container .footer-cont h4 {
    color: #fff;
    border-bottom: 3px solid #f2c640; }
  .footer-container .footer-cont p {
    color: rgba(206, 202, 202, 0.795); }
  .footer-container .footer-cont ul {
    color: rgba(206, 202, 202, 0.795);
    list-style: none; }
    .footer-container .footer-cont ul li {
      padding: 1%;
      left: 0; }
      .footer-container .footer-cont ul li a {
        display: inline-block;
        color: rgba(206, 202, 202, 0.795);
        font-size: 16px; }
        .footer-container .footer-cont ul li a:hover {
          color: #f2c640; }

.footer-cont-copy {
  background-color: #1f2b40;
  padding: .5% 0;
  display: flex;
  width: auto;
  justify-content: space-between;
  border: 3px solid rgba(32, 32, 32, 0.623); }
  .footer-cont-copy h2 {
    font-size: 23px;
    margin: 1% 0 1% 1%;
    color: rgba(206, 202, 202, 0.795); }

header {
  margin: 1vh 1vw;
  z-index: 99;
  position: fixed;
  width: 98%;
  top: 0; }

.navbar {
  background: linear-gradient(to top, #e9e6e6, #f8f6f6); }

.marca-navbar {
  font-family: 'Pacifico', cursive;
  font-size: xx-large; }

.nav-item {
  margin-left: 1vw;
  justify-content: space-between; }
  .nav-item:hover {
    font-size: 20px;
    transition: 1s; }

main {
  margin-top: 9rem; }

.card {
  opacity: .85;
  position: relative;
  height: 55rem;
  width: 90%;
  margin: 5%; }
  .card:hover {
    opacity: 1;
    height: 60rem;
    width: 100%;
    transition: .5s; }
  .card img {
    width: 100%;
    height: 50%;
    background-color: #f0e9e9; }
  .card .card-title {
    color: black; }
  .card .card-text {
    color: black; }
  .card .precios {
    display: flex; }
    .card .precios .precionow {
      color: red;
      font-size: large;
      margin-left: 2%; }
    .card .precios .preciobefore {
      text-decoration: line-through;
      font-size: medium;
      margin-left: 2%; }

.buying-neon {
  position: absolute;
  display: inline-block;
  padding: 3% 3%;
  font-size: x-large;
  text-decoration: none;
  overflow: hidden;
  transition: .3s;
  color: rgba(255, 0, 0, 0.623);
  visibility: visible;
  bottom: 1%;
  right: 1%; }
  .buying-neon:hover {
    visibility: visible;
    background: #01c401;
    box-shadow: 0 0 10px #01c401, 0 0 40px #01c401, 0 0 80px #01c401;
    border-radius: 50%;
    transition-delay: 1s; }
  .buying-neon:hover #botonbuy1 {
    left: 100%;
    transition: 1s; }
  .buying-neon:hover #botonbuy2 {
    top: 100%;
    transition: 1s;
    transition-delay: .25s; }
  .buying-neon:hover #botonbuy3 {
    right: 100%;
    transition: 1s;
    transition-delay: .5s; }
  .buying-neon:hover #botonbuy4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s; }
  .buying-neon span {
    position: absolute;
    display: block; }
  .buying-neon #botonbuy1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #01c401); }
  .buying-neon #botonbuy2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #01c401); }
  .buying-neon #botonbuy3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #01c401); }
  .buying-neon #botonbuy4 {
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(360deg, transparent, #01c401); }

.loginbody {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #323941;
  flex-direction: column;
  min-height: 100vh; }
  .loginbody .login {
    background-color: #1a1e21;
    padding: 30px;
    border-radius: 20px;
    max-width: 500px; }
    .loginbody .login .login-logo {
      width: 100%;
      margin: 50px 0;
      display: flex;
      justify-content: center; }
      .loginbody .login .login-logo img {
        width: 100%;
        padding: 30px;
        border-radius: 50px; }
    .loginbody .login .login-iniciar {
      width: 100%;
      background-color: #3860ec;
      display: inline-block;
      padding: 25px;
      cursor: pointer;
      color: #fff;
      text-transform: uppercase;
      border-radius: 30px;
      margin-bottom: 20px;
      transition: .3s ease all; }
      .loginbody .login .login-iniciar:hover {
        background: #2247ceb9; }
    .loginbody .login .login-registarse {
      width: 100%;
      color: #fff;
      display: inline-block;
      text-transform: uppercase;
      border-radius: 5px;
      margin-bottom: 20px;
      text-align: center;
      font-size: small;
      text-decoration: underline; }

@media screen and (max-width: 768px) {
  .card {
    width: 90%; }
    .card:hover {
      width: 95%; }
  .principal:hover {
    height: 55rem;
    width: 100%;
    transition: .5s; }
  .principal .principal-precios {
    padding: 10%; } }

@media (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 90%; }
    .card .precios {
      display: block; }
    .card:hover {
      width: 95%; }
      .card:hover .precios {
        display: block; } }

@media (min-width: 400px) and (max-width: 1024px) {
  .loginbody {
    margin: 2%; }
  .body404 {
    position: relative; }
    .body404 .main404 {
      display: inline-block; }
      .body404 .main404 .imagen-404 {
        bottom: 0;
        left: 0; }
      .body404 .main404 .texto404 {
        margin-top: 7rem;
        margin-bottom: 10rem; }
  .footer-container {
    display: inline-block; } }

.iniciar {
  position: relative;
  background-color: #1a1e21;
  padding: 30px;
  border-radius: 20px;
  max-width: 500px; }
  .iniciar img {
    width: 100%;
    padding: 30px;
    border-radius: 50px; }
  .iniciar .iniciar-seccion {
    color: #fff;
    justify-content: left; }
    .iniciar .iniciar-seccion form .partes {
      padding: 1.5%;
      margin: 0 auto;
      text-align: left; }
      .iniciar .iniciar-seccion form .partes input {
        width: 100%; }
      .iniciar .iniciar-seccion form .partes .check {
        width: auto;
        position: absolute;
        left: 5;
        display: flex;
        left: 0; }
    .iniciar .iniciar-seccion form button {
      margin-top: 5%;
      width: 100%;
      background-color: #3860ec;
      display: inline-block;
      padding: 25px;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 30px;
      margin-bottom: 20px;
      transition: .3s ease all; }
      .iniciar .iniciar-seccion form button:hover {
        background: #2247ceb9; }

.body404 {
  background-color: #a5b4c2;
  padding: 0;
  margin: auto 0;
  z-index: 1000; }

.main404 {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none; }
  .main404 .imagen-404 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto; }
  .main404 .texto404 {
    display: inline-block;
    width: 80%;
    margin-top: 15rem; }
    .main404 .texto404 .no-llores {
      color: black;
      font-size: 7rem;
      font-weight: bold; }
    .main404 .texto404 .texto-pag404 {
      font-size: 3rem;
      font-weight: lighter; }
    .main404 .texto404 .cupon {
      font-size: 5rem;
      font-weight: 500; }

#contenedor-carga {
  background-color: rgba(255, 255, 255, 0.986);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
  z-index: 100000; }

#carga {
  border: 15px solid #ccc;
  border-top-color: #306df0;
  box-shadow: 0 0 30px #306df0, 0 0 700px #306df0, 0 0 100px #306df0;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linar infinite; }

@keyframes girar {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::selection {
    background-color: rgba(172, 17, 17, 0.836); }
  * ::-webkit-scrollbar {
    width: 9px; }
  * ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #d4c597);
    border-radius: 4px; }
    * ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(transparent, rgba(29, 153, 255, 0.651)); }
