header {
    margin: 1vh 1vw;
    z-index: 100;
    position: fixed;
    width: 98%;
    top: 0;
}
.navbar {
    background:linear-gradient(to top, rgb(233, 230, 230),rgb(248, 246, 246));
}
.marca-navbar {
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
}
.nav-item {
    margin-left: 1vw;
    justify-content: space-between;
    &:hover {
        font-size: 20px;
        transition: 1s;
    }
}
