#contenedor-carga {
    background-color: rgba(255, 255, 255, 0.986);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
    z-index: 100000;
}
#carga {
    border: 15px solid #ccc;
    border-top-color: #306df0;
    box-shadow: 0 0 30px #306df0, 0 0 700px #306df0, 0 0 100px #306df0;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linar infinite;
}
@keyframes girar {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}